@model UdemyAspNet.Models.Pessoa
@{
    ViewBag.Title = "Home Page";
}

<h2>Curso asp mvc</h2>
<br />
<hr>



<br>
<hr>
<h4>Passando via ViewData</h4>
<p>@ViewData["PessoaID"]</p>
<p>@ViewData["PessoaNome"]</p>
<p>@ViewData["Tipo"]</p>

<br>
<hr>
<h4>Passando via ViewBag</h4>
<p>@ViewBag.id</p>
<p>@ViewBag.nome</p>
<p>@ViewBag.tipo</p>

<br>
<hr>
<h4>Passando via View tipada</h4>
<!--metodo post para enviar-->
@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Informações de pessoas</legend>

    </fieldset>
    <div>
        @Html.LabelFor(x => x.PessoaId)

    </div>
    <div>
        @Html.EditorFor(x => x.PessoaId)
    </div>
    <div>
        <label for="PessoaNome">Nome</label>

    </div>
    <div>
        <input type="text" value="@Model.PessoaNome" name="PessoaNome" />
    </div>
    <div>
        <label for="PessoaTipo">Tipo</label>

    </div>
    <div>
        <input type="text" value="@Model.Tipo" name="Tipo" />
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
}


