@model UdemyAspNet.Models.Usuarios

@{
    ViewBag.Title = "Resultado Usuários";
}

<h2>Listar dados Usuárioss</h2>

<fildset>
    <legend>Dados do Usuário</legend>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Obs)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Obs)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Idade)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Idade)
    </div>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Senha)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.ConfirmarSenha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ConfirmarSenha)
    </div>



    <p>@Html.ActionLink("Voltar", "Usuario", "Usuario")</p>
</fildset>